<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 800px; border-radius: 15px;">

        <h4 class="text-center mb-4 fw-bold">Create Account</h4>

        <form id="registrationForm">
            <div class="row">
                <!-- Full Name -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Full Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" [(ngModel)]="registerObj.fullName" name="fullName" class="form-control"placeholder="Enter your full name">
                    </div>
                </div>

                <!-- Email -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Email ID</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        <input type="email" [(ngModel)]="registerObj.email" name="email" class="form-control"placeholder="Enter your email address">
                    </div>
                </div>

                <!-- Password -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">Password</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="password" [(ngModel)]="registerObj.password" name="password" class="form-control"placeholder="Enter your password">
                    </div>
                </div>

                <!-- College Name -->
                <div class="col-md-6 mb-3">
                    <label class="form-label">College Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-university"></i></span>
                        <input type="text" [(ngModel)]="registerObj.collegeName" name="collegeName" class="form-control"placeholder="Enter your college name">
                    </div>
                </div>

            </div>

            <!-- Button -->
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary w-50"  (click)="onRegister()">Create Account</button>
            </div>

        </form>
    </div>
</div>